.clients {
  &__header {
    @extend %headerH2;
  }
  &__icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
  }
  &__icon-list-element {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100% - 30px) / 2);
    padding: 16px 32px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    text-decoration: none;
    fill: #afb1b8;
    cursor: pointer;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon-list-element:hover,
  &__icon-list-element:focus {
    border-color: $light-blue-color;
    fill: $light-blue-color;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__icon-list {
    &-element {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
}
@media screen and (min-width: $desktopWidth) {
  .clients {
    &__header {
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--text-color);
    }
    &__icon-list {
      flex-wrap: nowrap;
      justify-content: center;
      align-items: baseline;
      &-element {
        flex-basis: auto;
      }
    }
  }
}
